<div th:fragment="forgotPasswordModal">
    <div class="modal-overlay"></div>
    <div id="forgotPasswordModal" >
        <div class="modal-content">
            <h2 id="forgotPasswordTitle">Forgot Password</h2>
            <p id="forgotPasswordDescription">
                Enter your email address to receive a password reset link.
            </p>
            <form id="forgotPasswordForm">
                <div id="forgotPasswordInputs" class="form-group">
                    <label class="form-label" for="forgotPasswordEmail">Email:</label>
                    <input class="form-input" type="email" id="forgotPasswordEmail" name="email" required />
                </div>
                <div id="forgotPasswordActions" class="form-group">
                    <button type="submit" class="btn-primary">Send Reset Link</button>
                </div>
                <div class="form-group">
                    <button type="button" id="closeForgotPasswordModal" class="btn-secondary">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
