<form id="loginForm">
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>

    <input type="hidden" id="clientId" th:value="${clientId}" />
    <input type="hidden" id="state" th:value="${state}" />
    <input type="hidden" id="redirectUri" th:value="${redirectUri}" />
    <input type="hidden" id="responseType" th:value="${responseType}" />
    <input type="hidden" id="scope" th:value="${scope}" />
    <div>
        <button type="button" onclick="submitLogin()">Login</button>
    </div>
</form>