<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login | IDP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script type="module" th:src="@{/js/login.js}"></script>
</head>
<body>
<h1>Login</h1>
<div class="form-container">
    <form id="loginForm">
        <div class="form-group">
            <label class="form-label" for="email">Email:</label>
            <input class="form-input" type="text" id="email" name="email" required />
        </div>

        <div class="form-group">
            <label class="form-label" for="password">Password:</label>
            <input class="form-input" type="password" id="password" name="password" required />
        </div>

        <div class="form-group">
            <a href="#" id="forgotPasswordLink" class="link">Forgot Password?</a>
        </div>

        <!-- Hidden OAuth Parameters -->
        <input type="hidden" id="clientId" th:value="${clientId}" />
        <input type="hidden" id="state" th:value="${state}" />
        <input type="hidden" id="redirectUri" th:value="${redirectUri}" />
        <input type="hidden" id="responseType" th:value="${responseType}" />
        <input type="hidden" id="scope" th:value="${scope}" />

        <div class="form-group">
            <button type="submit" class="btn-primary">Login</button>
        </div>
    </form>

    <div class="divider">
        <span>or</span>
    </div>

    <div class="register-link">
        Don't have an account? <a href="/register" class="link">Register</a>
    </div>
</div>

<!-- Include Error Modal -->
<div th:replace="~{_error_modal :: errorModal}"></div>
<div th:replace="~{_forgot-password_modal :: forgotPasswordModal}"></div>

</body>
</html>
